*{
    margin: 0;
    padding: 0;
    
   
}
.indexheader{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-color: #1b1b1b;
}
.indexsection{
    width: 100%;
    /* height: 1200px; */
    /* border: 1px solid black; */
    background-color: #1b1b1b;
}
.indexdiv1{
    width: 100%;
    /* height: 20%; */
    /* border: 1px solid black; */
    background-color: #1b1b1b;
}
.indexdiv2{
    width: 100%;
    /* height: 1000px; */
    /* border: 1px solid black; */
    background-color: #1b1b1b;
}
