*{
    margin: 0;
    padding: 0;
   
}
.indexheader{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.indexsection{
    width: 100%;
    /* height: 1200px; */
    border: 1px solid black;
}
.indexdiv1{
    width: 100%;
    /* height: 20%; */
    border: 1px solid black;
}
.indexdiv2{
    width: 100%;
    height: 1000px;
    border: 1px solid black;
}
.indexfooter{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}