*{
    background-color: #1b1b1b;
    margin: 0 auto;
    padding: 0px;
}


header{
    border: 1px solid white;
}

.yj_sub_header{
    background-color: #252525;
    padding: 40px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.yj_h1{
    position: relative;
    width: 1240px;
    color: white;
    background-color: #252525;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
}


.yj_h3{
    width: 1240px;
    text-align: left;
    height: 50px;
}

.yj_section{
    height: 1200px;
}

footer{
    height: 250px;
}

.yj_ticket_body{
    margin-top: 120px;
    height: 1350px;
    text-align: center;
}

body{
    font-family: NotoSans,sans-serif;
}

.yj_waveon_baaner{
    height: 300px;
    justify-content: center;
}

.yj_waveon_img{
    width: 1240px;
    height: 300px;
}


.yj_waveon_group_wrap{
    height: 1050px;
}


.yj_waveon_txt_box{
    width: 100%;
    height: 50px;
}


.yj_waveon_tit{
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: #3887ff;
}


.yj_waveon_more_btn{
    position: absolute;
    right: 0px;
    width: 155px;
    height: 40px;
    line-height: 40px;
    background-color: #1351f9;
    border-radius: 100px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}


.yj_waveon_group{
    width: 1240px;
    height: 788px;
    padding: 20px 30px 0;
    margin-top: 18px;
    border: 1px solid #2f2f2f;
    border-radius: 8px;
}


.yj_waveon_group_divide{
    width: 1240px;
    height: 49%;
}

.yj_waveon_group_tit{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}

.yj_h4{
    color: white;
    text-align: left;
    font-weight: 400;
}



.yj_waveon_table{
    float: left;
    width: calc(50%, -22px);
    border-top: 2px solid #2f2f2f;
    margin: 0px 19px 25px 0px;
}


.yj_table{
    border-collapse: collapse;
    border-spacing: 0;
    color: #a5a5a5;
}

.yj_caption{
    margin: 0px;
    width: 200px;
    font-size: 16px;
    margin-bottom: 15px;
}


.yj_img{
    vertical-align: middle;
    width: 35px;
    height: 35px;
}


.yj_th{
    padding-bottom: 10px;
    font-size: 14px;
    letter-spacing: -1px;
    text-align: left;
    color: #a5a5a5;
    font-weight: 400;
    border-bottom: 2px solid #2f2f2f;
}

.yj_th_left{
    width: 231px;
    height: 54px;
}


.yj_th_right{
    text-align: right;
    width: 350px;
    height: 54px;
}


.yj_td_left{
    padding: 12px 0 0 20px;
    text-align: left;
    width: 231px;
    height: 54px;
}


.yj_td_right{
    text-align: left;
    width: 301px;
    height: 54px;
}

.yj_p{
    text-align: right;
    font-size: 24px;
    color: white;
}


.yj_btn_wrap{
    width: 1240px;
    height: 112px;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.yj_li{
    list-style-type: none;
    display: inline-block;
}


.yj_btn_purple{
    margin-right: 10px;
    background-color: #1351f9;
    color: #fff;
    width: 240px;
    height: 52px;
    line-height: 52px;
    border-radius: 100px;
    font-size: 16px;
}


.yj_btn_gray{
    background-color: #5e5e5e;
    color: #fff;
    width: 240px;
    height: 52px;
    line-height: 52px;
    border-radius: 100px;
    font-size: 16px;
}


.yj_a{
    text-decoration: none;
}