*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header{
    background-color: #1b1b1b;
    height: 150px;
    border: 1px solid white;
}

section{
    background-color: #1b1b1b;
    border: 1px solid white;
    height: 1000px;
    justify-content: center;
}

.loginbox{
    border: 1px solid #252525;
    width: 530px;
    height: 700px;
    margin: 0 auto;
    background-color: #252525;
    margin-top: 120px;
}

.login_member_layout{
    width: 530px;
    height: 740px;
    margin: 0 auto;
    background-color: #252525;
    border: 1px solid #252525;
}

footer{
    background-color: #1b1b1b;
    border: 1px solid white;
    height: 250px;
}

.h1_login{
    color: white;
    text-align: center;
    background-color: #252525;
    margin: 40px 0 40px;
    font-weight: 400;
    font-size: 32px;
}

.join_sns_box{
    color: white;
    height: 320px;
    margin: 0 auto;
    background-color: #252525;
<<<<<<< HEAD
    border: 1px solid #252525;
=======

    border: 1px solid #252525;

    
>>>>>>> ca151b5b5b686f618f04e1e7efbaa78ab52281cc
    padding: 40px;
}

#h2_wavelogin{
    color: white;
    text-align: center;
    background-color: #252525;
    font-weight: 400;
    color: #a5a5a5;
    font-size: 18px;
    margin-bottom: 15px;
}

#input_txt{
    width: 90%;
    background-color: #2f2f2f;
    font-size: 15px;
    color: white;
    height: 53px;
    border-radius: 8px;
    padding: 0px 20px;
    margin-bottom: 5px;
}


.ul_center{
    justify-content: center;
}

.ul_checkbox_wrap{
    background-color: #252525;
<<<<<<< HEAD
    border: 1px solid #252525;
=======

    border: 1px solid #252525;

    
>>>>>>> ca151b5b5b686f618f04e1e7efbaa78ab52281cc
    height: 35px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #252525;
}


li{
    background-color: #252525;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    margin-top: 2px;
}

.btn_purple{
    margin-top: 20px;
    width: 445px;
    background-color: #1351F9;
    height: 60px;
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 60px;
}


#a_tag{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    background-color: #1351F9;
    font-size: 18px;
}

.login_txt{
    color: #a5a5a5;
    text-decoration: none;
    background-color: #252525;
    font-size: 14px;
}

.join_find{
    width: 430px;
    height: 30px;
    margin: 20px auto 50px;
    background-color: #252525;
<<<<<<< HEAD
    border: 1px solid #252525;
=======

    border: 1px solid #252525;

    
>>>>>>> ca151b5b5b686f618f04e1e7efbaa78ab52281cc
    justify-content: center;
}


.sns_box{
    height: 170px;
    background-color: #252525;
    border: 1px solid blueviolet;
    color: white;
    text-align: center;
    justify-content: center;
}

span{
    width: 50px;
    background-color: white;
}

.span_a{
    margin-left: 20px;
    border: 1px solid #252525;
    background-color: #252525;
    color: #a5a5a5;
    font-size: 14px;
}

h2{
    background-color: #252525;
}

img{
    width: 32px;
    height: 32px;
    margin-top: 14px;
    background-color: transparent;
}


.login_sns{
    background-color: #252525;
    width: 364px;
    height: 70px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
<<<<<<< HEAD
    border: 1px solid #252525;
=======

    border: 1px solid #252525;

    
>>>>>>> ca151b5b5b686f618f04e1e7efbaa78ab52281cc
    text-align: center;
}


.login_each_kakao{
    background-color: #ffec00;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0px 10px 0px 10px;
}

.login_t_id{
    background-color: rgb(54, 23, 206);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0px 10px 0px 5px;
}

.login_naver_id{
    background-color: rgb(35, 185, 9);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0px 5px 0px 5px;
}

.login_fb_id{
    background-color: rgb(59, 89, 152);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0px 5px 0px 5px;
}

.login_apple_id{
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0px 5px 0px 5px;
}


label{
    background-color: #252525;
    font-family: NotoSans,sans-serif;
    font-size: 13px;
    color: #a5a5a5;
    margin: 0px 10px 0px 10px;
}

p{
    text-align: center;
    color: #a5a5a5;
    font-size: 18px;
    font-weight: 400;
}

.ul_checkbox_wrap input[type="checkbox"]
{display: none;}


.ul_checkbox_wrap input[type="checkbox"] + label{
    width: 20px;
    height: 20px;
    border: 1px solid white;
}


.ul_checkbox_wrap input[id="chk"]:checked + label{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAAXNSR0IArs4c6QAAAO9JREFUSA1jFA78+Z+BRoCJRuaCjR01HGvoDv5gYWTE6nAGil3ekcLMcGYaK1bTKTK8J52ZIcWLmWHlgX/UNRxkcII7M0Pfmr8MXSv/Us9wZIPblmE3GGQb1mBZUMbCMLOQmYGFGdNBxBqM0/B95/8xBNsyM8wtZkGxgBSDcRq+aPc/hvLZfxi8LZjgFpBqMMhwRnylYrInE0NnKgvDw5f/GeTFGcGRhy+MQQYiAxZkDjp77vZ/DDycfxhqopkZFu36y0CKwSCz8LocZpm4AAPDyw8wHvE01tSCrp0cg0FmEGU4umXE8kcNxxpSNA0WAAXETbeav2oDAAAAAElFTkSuQmCC);
}

.ul_checkbox_wrap input[id="chk1"]:checked + label{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAAXNSR0IArs4c6QAAAO9JREFUSA1jFA78+Z+BRoCJRuaCjR01HGvoDv5gYWTE6nAGil3ekcLMcGYaK1bTKTK8J52ZIcWLmWHlgX/UNRxkcII7M0Pfmr8MXSv/Us9wZIPblmE3GGQb1mBZUMbCMLOQmYGFGdNBxBqM0/B95/8xBNsyM8wtZkGxgBSDcRq+aPc/hvLZfxi8LZjgFpBqMMhwRnylYrInE0NnKgvDw5f/GeTFGcGRhy+MQQYiAxZkDjp77vZ/DDycfxhqopkZFu36y0CKwSCz8LocZpm4AAPDyw8wHvE01tSCrp0cg0FmEGU4umXE8kcNxxpSNA0WAAXETbeav2oDAAAAAElFTkSuQmCC);
}

hr{
    margin-top: 10px;
    width: 100px;
    border: 1px solid #2f2f2f;
    display: flex;
}
